.task{
    margin: 1vh;
    padding: 1vh;
    border: solid black 0.5vh;
    background-color: rgb(238, 240, 245);
    transition: background-color 1s ease;
    width: 40vh;
    height: fit-content;
    border-radius: 5vh;
}

.reviewButton{
    color: black;
    background-color: aliceblue;
    border: 0.3vh solid black;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 10vh;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10vh;
    padding: 0.5vh;
    margin: 0.5vh;
}

.reviewButton:hover{
    color: blue;
    font-weight: bold;
}

.title{
    word-wrap: break-word;
    font-size: 3vh;
    font-weight: bold;
}

.status{
    margin-right: 0;
    font-size: 3vh;
    border: none;
}

.image{
    width: 90%;
    max-height: 20vh;
}

.source{
    color: black;
    background-color: aliceblue;
    border: 0.3vh solid black;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 10vh;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10vh;
    padding: 0.5vh;
    margin: 0.5vh;
}

.source:hover{
    color: blue;
    background-color: aliceblue;
    font-weight: bold;
}
