.task {
    display: flex;
    align-items: stretch; /* Stretch items to fill the container */
    margin: 10px; /* Adjust margin for spacing */
    border: 2px solid #333; /* Darker border */
    background-color: #f8f8f8; /* Lighter background color */
    transition: background-color 0.3s ease; /* Smoother transition */
    padding: 10px; /* Adjust padding for spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 50vh;
}
.task:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last task in a list */
}
    

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Distribute space between items */
    width: calc(100%); /* Adjust the width considering the image width and margins */
    margin-left: 20px; /* Space between image and text content */
}

.title {
    word-wrap: break-word;
    text-align: left; /* Align the title to the left */
    font-size: 15px; /* Adjust font size as needed */
    font-weight: bold;
    color: #333; /* Text color */
    margin: 20px 0; /* Adjust margin as needed */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add letter spacing for better readability */
}


.buttons-container {
    display: flex;
    align-items: center; /* Align items horizontally */
    margin-bottom: 0.4vh; /* Adjust spacing as needed */
}

.stars-container {
    display: flex;
    align-items: center; /* Align stars horizontally */
    margin-left: 0.5vh; /* Adjust spacing as needed */
}

button, .source {
    margin-right: 0.5vh; /* Adjust spacing between buttons */
    margin-bottom: 0; /* Remove bottom margin for buttons */
}

.stars {
    background: none;
    border: none;
    font-size: 1.5em;
    margin: 0 5px; /* Adjust spacing as needed */
    padding: 0;
    cursor: pointer;
    transition: color 0.3s; /* Transition for color change */
    -webkit-tap-highlight-color: transparent; /* Disable tap highlight on mobile */
}

.image {
    border: 2px solid #ccc; /* Darker border color */
    max-width: 20vh; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper alignment and spacing */
    margin-top: 10px; /* Add spacing above the image */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: border-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.image:hover {
    border-color: #999; /* Darker border color on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

button {
    -webkit-tap-highlight-color: transparent; /* For WebKit browsers */
}

a {
    -webkit-tap-highlight-color: transparent; /* For WebKit browsers */
}

.reviewButton {
    display: inline-block;
    padding: 8px 12px; /* Adjust padding for desired size */
    font-size: 15px; /* Adjust font size as needed */
    font-weight: bold;
    color: #2e2c2c; /* Text color */
    background: linear-gradient(90deg, #d6c3c3, #d39494); /* Gradient background */
    border: 1px solid #e6dfdf; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background 0.3s ease, transform 0.2s ease; /* Smooth transitions */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.reviewButton:hover {
    background: linear-gradient(90deg, #dabcbc, #8f5252); /* Slightly different gradient on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

.reviewButton:active {
    transform: scale(0.98); /* Slightly smaller on click */
}

.reviewButton:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(255, 126, 95, 0.5); /* Focus ring */
}

.status {
    display: inline-block;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.status[style*="color: red"] {
    background-color: #d66a62; /* Red background when not watched */
}

.status[style*="color: green"] {
    background-color: #4CAF50; /* Green background when watched */
}

.status:hover {
    cursor: pointer;
    transform: scale(1.05); /* Slightly larger on hover */
}

.source {
    display: inline-block;
    border-radius: 50%; /* Makes it a circle */
    align-items: center;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f07269; /* Red background */
    color: white;
    font-size: 12px; /* Adjusted for smaller size */
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.source:hover {
    background-color: #e53935; /* Slightly darker on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

.source:active {
    transform: translateY(1px); /* Subtle "pressed" effect */
}

.play-button:focus {
    outline: none; /* Remove default focus outline */
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%; /* Adjust width to fit the entire screen on mobile */
        margin-left: 0; /* Remove the left margin on mobile */
    }
}
