.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    max-width: 42vh;
    word-wrap: break-word;
}

.popup{
    position: fixed; /* Fixed positioning to keep the overlay in place */
    top: 0; /* Position at the top of the viewport */
    left: 0; /* Position at the left of the viewport */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9999; /* Ensure the overlay appears on top of other content */
    display: flex; /* Center content horizontally and vertically */
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.2s ease-in-out forwards; /* Apply the fade-in animation */
}

.reviewBlock{
  border: 0.5vh solid rgb(207, 183, 224);
  border-radius: 5vh;
  background-color: rgb(255, 159, 189);
  transition: background-color 1s ease;
  padding: 1vh;
  cursor: default;
}

.reviewHeader{
    font-size: 3vh;
    max-width: 90%;
    word-wrap: break-word;
}

.stars{
    font-size: 5vh;
}

.close-button{
    position: fixed; /* Position the container relative to the viewport */
    top: 2vh;
    cursor: pointer;
    transform: translateY(-50%); /* Adjust vertically to center */
    right: 0.5vh; /* Distance from the right edge of the viewport */
    font-size: 2vh;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
